.main{
    text-align: right;
    .search{
        width: 200px;
        height: 30px;
        padding-left: 10px;
        border: 1px solid #999;
        border-radius: 4px;
    }
    .cards{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        &__card{
            text-align: left;
            position: relative;
            margin: 20px;
            width: 330px;
            height: auto;
            border-radius: 10px;
            img{
                width: 320px;
                height: auto;
                border-radius: 10px;
                margin-top: 10px;
            }
            &-info{
                button{
                    position: absolute;
                    right:20px;
                    background: none;
                    border:none;
                    cursor: pointer;
                }
                p{
                    opacity: 0.5;
                }
            }
        }
    }
}