.main{
    text-align: right;
    .search{
        width: 200px;
        height: 30px;
        padding-left: 10px;
        border: 1px solid #999;
        border-radius: 4px;
    }
    .cards{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        &__card{
            text-align: center;
            position: relative;
            margin: 20px;
            width: 220px;
            height: auto;
            border-radius: 10px;
            opacity: 0.8;
            border: 1px solid #b5b5b5;
            transition: opacity,transform 500ms ease;
            b{
                color: green;
            }
            &:hover{
                transform: translateY(-5px);
                opacity: 1;
            }
            img{
                width: 200px;
                height: auto;
                border-radius: 10px;
            }
            &-info{
                text-align: left;
                button{
                    position: absolute;
                    right:20px;
                    bottom: 0;
                    background: none;
                    border:none;
                    cursor: pointer;
                }
            }
        }
    }
}