@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
$ff:'Open Sans';
#root{
  max-width: 1600px;
  margin: 0 auto;
}

body{
  font-family: $ff,serif;
  background-color: #fff;
  color: #000;
}

html{
  scroll-behavior: smooth;
}


/* Для браузеров, поддерживающих ::-webkit-scrollbar */
::-webkit-scrollbar {
  width: 2px; /* Толщина вертикального скролла */
  height: 8px; /* Толщина горизонтального скролла */
}

::-webkit-scrollbar-thumb {
  background-color: white; /* Цвет ползунка */
  border-radius: 4px; /* Закругление ползунка */
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.8); /* Цвет ползунка при наведении */
}

::-webkit-scrollbar-track {
  background-color: transparent; /* Цвет фона трека (можно изменить) */
}

